@use "./base.scss" as *;
@use "./_variables" as *;


.#{$transition-class-base} {
    &.#{$transition-class-base}-collapse {
        overflow: hidden;
        --#{$transition-class-base}-properties: block-size;

        &.#{$transition-class-base}-#{$transition-class-enter}-#{$transition-class-measure},
        &.#{$transition-class-base}-#{$transition-class-exit}-#{$transition-class-measure} {
            height: auto !important;
        }

        &.#{$transition-class-base}-#{$transition-class-enter}-#{$transition-class-init},
        &.#{$transition-class-base}-#{$transition-class-exit}-#{$transition-class-transition},
        &.#{$transition-class-base}-#{$transition-class-exit}-#{$transition-class-finalize} {
            block-size: var(--#{$transition-class-base}-collapse-min-block);
        }

        &.#{$transition-class-base}-#{$transition-class-exit}-#{$transition-class-init},
        &.#{$transition-class-base}-#{$transition-class-enter}-#{$transition-class-transition} {
            block-size: var(--#{$transition-class-base}-measure-height);
        }

        &.#{$transition-class-base}-#{$transition-class-enter}-#{$transition-class-finalize} {
            block-size: auto;
        }
    }
}

@supports not (block-size: auto) {
    .#{$transition-class-base} {
        &.#{$transition-class-base}-collapse {
            overflow: hidden;
            --#{$transition-class-base}-properties: height;

            &.#{$transition-class-base}-#{$transition-class-enter}-#{$transition-class-measure},
            &.#{$transition-class-base}-#{$transition-class-exit}-#{$transition-class-measure} {
                height: auto !important;
            }

            &.#{$transition-class-base}-#{$transition-class-enter}-#{$transition-class-init},
            &.#{$transition-class-base}-#{$transition-class-exit}-#{$transition-class-transition},
            &.#{$transition-class-base}-#{$transition-class-exit}-#{$transition-class-finalize} {
                height: var(--#{$transition-class-base}-collapse-min-block, 0);
            }

            &.#{$transition-class-base}-#{$transition-class-exit}-#{$transition-class-init},
            &.#{$transition-class-base}-#{$transition-class-enter}-#{$transition-class-transition} {
                height: var(--#{$transition-class-base}-measure-height);
            }
            
            &.#{$transition-class-base}-#{$transition-class-enter}-#{$transition-class-finalize} {
                height: auto;
            }
        }
    }
}