@use "./base.scss" as *;
@use "./_variables" as *;


.#{$transition-class-base} {
  &.#{$transition-class-base}-zoom {
    --#{$transition-class-base}-properties: transform;

    // Set the transform origin regardless of what phase we're in
    transform-origin: calc(var(--#{$transition-class-base}-zoom-origin-x) * 100%) calc(var(--#{$transition-class-base}-zoom-origin-y) * 100%);


    &.#{$transition-class-base}-#{$transition-class-enter}-#{$transition-class-init},
    &.#{$transition-class-base}-#{$transition-class-exit}-#{$transition-class-transition},
    &.#{$transition-class-base}-#{$transition-class-exit}-#{$transition-class-finalize} {
      // Note to self: older versions of iOS (tested on 12) don't support percentages in the scale() function (?!?)
      transform: scale(calc(var(--#{$transition-class-base}-zoom-min-x) * 1), calc(var(--#{$transition-class-base}-zoom-min-y) * 1));

      @media (prefers-reduced-motion) {
        transform: none;
      }
    }


    &.#{$transition-class-base}-#{$transition-class-exit}-#{$transition-class-init},
    &.#{$transition-class-base}-#{$transition-class-enter}-#{$transition-class-transition},
    &.#{$transition-class-base}-#{$transition-class-enter}-#{$transition-class-finalize} {
      transform: scale(1, 1);

      @media (prefers-reduced-motion) {
        transform: none;
      }
    }





    // Handle converting all our inline and block values to the X and Y coordinates most other CSS expects
    --#{$transition-class-base}-zoom-min-x: calc(0 + var(--#{$transition-class-base}-zoom-min-inline));
    --#{$transition-class-base}-zoom-min-y: calc(0 + var(--#{$transition-class-base}-zoom-min-block));
    --#{$transition-class-base}-zoom-origin-x: calc(0 + var(--#{$transition-class-base}-zoom-origin-inline));
    --#{$transition-class-base}-zoom-origin-y: calc(0 + var(--#{$transition-class-base}-zoom-origin-block));

    &.#{$transition-class-base}-inline-direction-ltr,
    &.#{$transition-class-base}-inline-direction-rtl,
    &.#{$transition-class-base}-block-direction-ttb,
    &.#{$transition-class-base}-block-direction-btt {
      --#{$transition-class-base}-zoom-min-x: calc(0 + var(--#{$transition-class-base}-zoom-min-inline));
      --#{$transition-class-base}-zoom-min-y: calc(0 + var(--#{$transition-class-base}-zoom-min-block));
    }

    &.#{$transition-class-base}-block-direction-ltr,
    &.#{$transition-class-base}-block-direction-rtl,
    &.#{$transition-class-base}-inline-direction-ttb,
    &.#{$transition-class-base}-inline-direction-btt {
      --#{$transition-class-base}-zoom-min-x: calc(0 + var(--#{$transition-class-base}-zoom-min-block));
      --#{$transition-class-base}-zoom-min-y: calc(0 + var(--#{$transition-class-base}-zoom-min-inline));
    }


    &.#{$transition-class-base}-inline-direction-ltr {
      --#{$transition-class-base}-zoom-origin-x: calc(0 + var(--#{$transition-class-base}-zoom-origin-inline));
    }

    &.#{$transition-class-base}-inline-direction-rtl {
      --#{$transition-class-base}-zoom-origin-x: calc(1 - var(--#{$transition-class-base}-zoom-origin-inline));
    }

    &.#{$transition-class-base}-block-direction-ttb {
      --#{$transition-class-base}-zoom-origin-y: calc(0 + var(--#{$transition-class-base}-zoom-origin-block));
    }

    &.#{$transition-class-base}-block-direction-btt {
      --#{$transition-class-base}-zoom-origin-y: calc(1 - var(--#{$transition-class-base}-zoom-origin-block));
    }



    &.#{$transition-class-base}-block-direction-ltr {
      --#{$transition-class-base}-zoom-origin-x: calc(0 + var(--#{$transition-class-base}-zoom-origin-block));
    }

    &.#{$transition-class-base}-block-direction-rtl {
      --#{$transition-class-base}-zoom-origin-x: calc(1 - var(--#{$transition-class-base}-zoom-origin-block));
    }

    &.#{$transition-class-base}-inline-direction-ttb {
      --#{$transition-class-base}-zoom-origin-y: calc(0 + var(--#{$transition-class-base}-zoom-origin-inline));
    }

    &.#{$transition-class-base}-inline-direction-btt {
      --#{$transition-class-base}-zoom-origin-y: calc(1 - var(--#{$transition-class-base}-zoom-origin-inline));
    }
  }
}