{
    "presets": [
        [
            "@babel/preset-env",
        {
                "targets": {
                    "browsers": "iOS 10"
                }
            }
        ]
    ],
    "plugins": ["@babel/plugin-proposal-nullish-coalescing-operator"]
}