
// Corresponds to classBase in any given Transitionable
$transition-class-name: transition !default;

$transition-default-duration: 175ms !default;
$transition-default-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !default;

// Because transitions don't inherit well at all, we just set everything to transition by default
// We also force visibility not to transition, so that it acts like changing to display: none
// (in terms of not being animated and just snapping to its target value).
// You can override these.
.#{$transition-class-name}-enter { transition: all var(--#{$transition-class-name}-duration, $transition-default-duration) $transition-default-timing-function, visibility 0ms linear, transform-origin 0ms linear; }
.#{$transition-class-name}-exit  { transition: all var(--#{$transition-class-name}-duration, $transition-default-duration) $transition-default-timing-function, visibility 0ms linear, transform-origin 0ms linear; }

.#{$transition-class-name}-exit-finalize:not(.#{$transition-class-name}-visible-on-exit)  { visibility: hidden; }
.#{$transition-class-name}-exit-finalize.#{$transition-class-name}-removed-on-exit  { display: none; }

.#{$transition-class-name}-exit-finalize { transition: none; }
.#{$transition-class-name}-enter-finalize { transition: none; }

@media (prefers-reduced-motion) { 
    
    // When this media query is active, 
    // override all other transitions with just a simple opacity transition.
    // (I suppose it's actually beneficial that transitions don't inherit well in this case)
    .#{$transition-class-name}-enter { transition: opacity 175ms ease-in-out; }
    .#{$transition-class-name}-exit  { transition: opacity 175ms ease-in-out; }

    
    .#{$transition-class-name}-enter-init, .#{$transition-class-name}-exit-transition, .#{$transition-class-name}-exit-finalize { opacity: 0; }
    .#{$transition-class-name}-exit-init, .#{$transition-class-name}-enter-transition, .#{$transition-class-name}-enter-finalize { opacity: 1; }
}