
// Because transitions don't inherit well at all, we just set everything to transition by default
// We also force visibility not to transition, so that it acts like changing to display: none
// (in terms of not being animated and just snapping to its target value).
// You can override these.
.transition-enter { transition: all 175ms ease-in-out, visibility 0ms linear; }
.transition-exit  { transition: all 175ms ease-in-out, visibility 0ms linear; }

.transition-enter-init { transition: none; }
.transition-exit-init { transition: none; }

.transition-exit-finalize   { visibility: hidden !important; }
.transition-enter-finalize   { }

