@use "./base.scss" as *;
@use "./_variables" as *;


.#{$transition-class-name}-collapse {
    overflow: hidden;
    --#{$transition-class-name}-properties: block-size;

    &.#{$transition-class-name}-measure { block-size: auto !important; }

    &.#{$transition-class-name}-enter-init, &.#{$transition-class-name}-exit-transition, &.#{$transition-class-name}-exit-finalize {
        block-size: var(--#{$transition-class-name}-collapse-min-block); 
    }

    &.#{$transition-class-name}-exit-init, &.#{$transition-class-name}-enter-transition {
        block-size: var(--#{$transition-class-name}-measure-height); 
    }

    &.#{$transition-class-name}-enter-finalize {
        block-size: auto;
    }
    

/*
    // Initialize the height to the current transitioning size
    // (the size we're caught in mid-transition, and/or also at the end)
    &.#{$transition-class-name}-enter-init, &.#{$transition-class-name}-exit-init {
        block-size: var(--#{$transition-class-name}-transitioning-block-size); 
    }

    // On exit, transition towards the specified minimum height.
    &.#{$transition-class-name}-exit-transition, &.#{$transition-class-name}-exit-finalize { 
        block-size: var(--#{$transition-class-name}-collapse-min-block, 0); 
        padding-block: 0 !important;
    }

    // While entering, transition towards the height that was measured when the transition started
    &.#{$transition-class-name}-enter-transition { 
        block-size: var(--#{$transition-class-name}-surface-block-size); 
    }

    // When entering has finished, defer to the normal browser height behavior.
    // TODO: Register a resize observer when it's auto
    &.#{$transition-class-name}-enter-finalize { block-size: auto; }*/
}

