@use "./base.scss" as *;
@use "./_variables" as *;


.#{$transition-class-name} {
  &.#{$transition-class-name}-flip {
    backface-visibility: hidden;
    --#{$transition-class-name}-properties: transform;


    &.#{$transition-class-name}-enter-init,
    &.#{$transition-class-name}-exit-transition,
    &.#{$transition-class-name}-exit-finalize {
      transform: perspective(var(--#{$transition-class-name}-perspective, 800px)) rotate3d(1, 0, 0, calc(var(--#{$transition-class-name}-flip-angle-x, 0))) rotate3d(0, 1, 0, calc(var(--#{$transition-class-name}-flip-angle-y, 0)));

      @media (prefers-reduced-motion) {
        transform: none;
      }
    }



    &.#{$transition-class-name}-exit-init,
    &.#{$transition-class-name}-enter-transition,
    &.#{$transition-class-name}-enter-finalize {
      transform: perspective(var(--#{$transition-class-name}-perspective, 800px)) rotate3d(1, 0, 0, 0deg) rotate3d(0, 1, 0, 0deg);
    }







    // Handle converting all our inline and block values to the X and Y coordinates most other CSS expects
    --#{$transition-class-name}-origin-x: calc(0 + var(--#{$transition-class-name}-origin-inline));
    --#{$transition-class-name}-origin-y: calc(0 + var(--#{$transition-class-name}-origin-block));

    &.#{$transition-class-name}-inline-direction-ltr {
      --#{$transition-class-name}-flip-angle-x: calc(1 * var(--#{$transition-class-name}-flip-angle-inline));
    }

    &.#{$transition-class-name}-inline-direction-rtl {
      --#{$transition-class-name}-flip-angle-x: calc(-1 * var(--#{$transition-class-name}-flip-angle-inline));
    }

    &.#{$transition-class-name}-block-direction-ttb {
      --#{$transition-class-name}-flip-angle-y: calc(1 * var(--#{$transition-class-name}-flip-angle-block));
    }

    &.#{$transition-class-name}-block-direction-btt {
      --#{$transition-class-name}-flip-angle-y: calc(-1 * var(--#{$transition-class-name}-flip-angle-block));
    }




    &.#{$transition-class-name}-block-direction-ltr {
      --#{$transition-class-name}-flip-angle-x: calc(1 * var(--#{$transition-class-name}-flip-angle-block));
    }

    &.#{$transition-class-name}-block-direction-rtl {
      --#{$transition-class-name}-flip-angle-x: calc(-1 * var(--#{$transition-class-name}-flip-angle-block));
    }

    &.#{$transition-class-name}-inline-direction-ttb {
      --#{$transition-class-name}-flip-angle-y: calc(1 * var(--#{$transition-class-name}-flip-angle-inline));
    }

    &.#{$transition-class-name}-inline-direction-btt {
      --#{$transition-class-name}-flip-angle-y: calc(-1 * var(--#{$transition-class-name}-flip-angle-inline));
    }
  }
}