@use "./_variables" as *;

.#{$transition-class-name}-swap-container {
    isolation: isolate;


    display: grid;
    // Required instead of just 1fr to allow width/height: 100% 
    // to work on parent/child elements
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr);
    position: relative;
    overflow: hidden;

    &-inline {
        display: inline-grid;
    }

    &>.#{$transition-class-name} {
        --#{$transition-class-name}-enter-timing-function: #{$transition-default-timing-function-swap};
        --#{$transition-class-name}-exit-timing-function: #{$transition-default-timing-function-swap};
    }

    &>.#{$transition-class-name}-enter {
        z-index: var(--#{$transition-class-name}-enter-z-index, 10);
    }

    &>.#{$transition-class-name}-exit {
        z-index: var(--#{$transition-class-name}-exit-z-index, 0);
    }

    &>* {
        position: relative;
        grid-area: 1 / 1 / 1 / 1;
        align-self: flex-start;
    }
}